<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{ name|capitalize }}!</h1>
    <time datetime="{{ date|date('c') }}">{{ date|date }}</time>
</body>
</html>
